{{ if and (not .Params.hidePostCopyright) (or .Params.postMetaInFooter (and .Site.Params.postMetaInFooter (ne .Params.postMetaInFooter false))) -}}
<div class="post-copyright">
  <p class="copyright-item" style="position: relative;">
    <span class="item-title">{{ T "author" }}</span>
    <span class="item-content">
      {{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}
    </span>
  </p>
  <p class="copyright-item">
    <span class="item-title">License</span>
    <span class="item-content">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0">
        CC BY-NC-ND 4.0
        <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="/img/cc.svg">
        <img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="/img/by.svg">
      </a>
      <!-- https://chooser-beta.creativecommons.org
      https://creativecommons.org/faq/#what-are-the-international-unported-creative-commons-licenses-and-why-does-cc-offer-ported-licenses -->
    </span>
  </p>
  <p class="copyright-item">
    <span class="item-title">{{ T "lastMod" }}</span>
    <span class="item-content">
        {{ .Lastmod.Format (.Site.Params.lastModDateFormat | default "2006-01-02") }}
        {{ with .GitInfo }}<a href="{{ $.Site.Params.gitRepo }}/commit/{{ .Hash }}" title="{{ .Subject }}">({{ .AbbreviatedHash }})</a>{{ end }}
    </span>
  </p>
  {{ if $.Site.Params.linkToMarkDown -}}
    {{ with $.OutputFormats.Get "markdown" -}}
    <p class="copyright-item">
      <span class="item-title">{{ T "markdown" }}</span>
      <span class="item-content"><a class="link-to-markdown" href="{{ .Permalink }}" target="_blank">{{ T "seeMarkDown" }}</a></span>
    </p>
    {{- end }}
  {{- end }}
  {{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) -}}
  <p class="copyright-item">
    <span class="item-title">{{ T "license" }}</span>
    <span class="item-content">
    {{- if .Params.contentCopyright -}}
      {{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
      {{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
    </span>
  </p>
  {{- end }}
</div>
{{- end }}
